html{
    margin: 0;
    padding:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    background-color:#000000;
    
    
    
}

header{
    background-color:#000000;
    display: flex;
    align-items: center;
   
}

#image{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    margin-top: -2.5rem;
    margin-left: -2.5rem;
}
header > figure{
    height: 5.5rem;
    width: 5.5rem;

}
#font{
    height: 13rem;
    width: 100%;
  
    margin-left: 4rem;
    border: solid, rgb(95, 94, 103);
   
}
nav> a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin: 0.5rem;
   
}
nav > a:hover{
    color: #989aa8;
}

#but{
background-color: rgb(0, 0, 0);
border:solid,#ffffff ;
font-family: sans-serif;
color: #ffffff;
border-radius: 0.5rem;
width: 5rem;
height: 1.5rem;
margin-left: 20rem;
margin-right: -19rem;




}
#but:hover{
    background-color: #989aa8;
}

.fotofilmes{
    height: 30rem;
    width: 20rem;
   
    padding: 1rem;
}

#traco{
    border-color: #989aa8;
    border-style:groove ;
    width: 90%;
    margin-left: 3rem;
    display: inline-block;
}

h1{
    color: #ffffff;
}

p{
    color: white;
    width: 60%;
    height: 30%;
    justify-content: center;
    text-align: center;
}

#texto{
    display:block;
    color: #ffffff;
    width: 40rem;
    justify-content: center;
    text-align: center;
}